@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.6 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif normal normal normal;
}

.container {
    width: 1000px;
    margin: auto;
}

.box {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #888;
}

th {
    background: #95b2af;
    color: #fff;
}

td img {
    vertical-align: middle;
}

input[type=text] {
    font-size: 1em;
    line-height: 1;
    padding: 0.1em;
}
